* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
}

h2 {
    color:limegreen;
}

li {
    list-style: none;
}

.flame {
    text-align: left;
}

.col-md-12 p {
        text-indent: 4em;
}